body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}


.form-group {
    margin-bottom: 15px;

}

label {
    display: block;
    margin-bottom: 5px;
}

#loginMessage {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#BackButton {
    background-color: #88184f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
}
#BackButton:hover {
    background-color: #45a049;
}
#ConnectButton {
    background-color: #88184f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 150px;
}
#ConnectButton:hover {
    background-color: #45a049;
}
